# Node Dependencies
node_modules

# Development MongoDB Volume
mongo-volume

# Heroku Configuration
Procfile

# Azure pipeline Configuration
azure-pipelines.yml

# Ignore Vagrant Machine Configuration
Vagrantfile

# Ignore Vagrant Machines
.vagrant/machines