# NodeJS Dependencies
node_modules/

# Visual Studio Code Settings
.vscode/

# Local Environment Variables
.env

# Fetched Proxies from Public Sources
src/Assets/proxies.txt

# Local Docker Mongo Data
mongo-volume/

